@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #ffffff;
  --color-secondary: #2563eb;
  --color-accent:#e2e8f0 ;
  --color-neutral:#000000 ;
  --color-info: #1e3a8a;
 
}

.inputClass{
 @apply input border-accent focus:border-info focus:outline-none focus:ring-2 focus:ring-info/90  w-full
}

.paginationBtn{
  @apply join-item btn btn-sm bg-primary text-neutral hover:bg-secondary hover:text-primary border-none px-4
}

.paginationBtnActive{
  @apply join-item btn btn-sm bg-secondary text-primary border-none font-bold px-4
}

.taskAssignInPut{
  @apply   border-accent bg-primary text-neutral w-full pl-10 focus:outline-none focus:border-secondary
}


.labelText{
  @apply  font-semibold text-neutral
}

.tableActionBtn{
  @apply btn btn-square btn-sm btn-outline border-accent hover:bg-secondary hover:border-secondary text-neutral hover:text-primary
}

